td {
    text-align: center;
    background-color: white;
    font-size: 100px;
    flex: 1;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
}

.symbolsDiv {
    display: flex;
    gap: 60px;
    align-items: center;
}


table {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    flex: none;
    background-color: black;
    gap: 2px;
}

tr {
    display: flex;
    flex: 1;
    gap: 2px;
}

button {
    padding: 20px;
    font-size: 40px;
    background-color: plum;
}

.chooseText {
    font-size: 30px;
}

.results {
    font-size: 30px;
}